<h1>Edit Funcionario</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.funcionario_path(@conn, :update, @funcionario)) %>

<span><%= link "Back", to: Routes.funcionario_path(@conn, :index) %></span>
