<h1>Novo Funcionario</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.funcionario_path(@conn, :create)) %>

<span><%= link "Voltar", to: Routes.funcionario_path(@conn, :index) %></span>
