<h1>Altar Fornecedor</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.fornecedor_path(@conn, :update, @fornecedor)) %>

<span><%= link "Voltar", to: Routes.fornecedor_path(@conn, :index) %></span>
