<div class="default-form"> 
    <h1>Novo Fornecedor</h1>
</div>
<div class="default-form"> 
    <%= render "form.html", Map.put(assigns, :action, Routes.fornecedor_path(@conn, :create)) %>

    <span><%= link "Voltar", to: Routes.fornecedor_path(@conn, :index) %></span>

</div>
