<div class="default-form"> 
    <h1 class="h1">Novo Fornecedor</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.fornecedor_path(@conn, :create)) %>

    <span><%= link "Voltar", to: Routes.fornecedor_path(@conn, :index), class: "btn" %></span>

</div>
