<div class="default-form">   
    <h1>Alterar Produto</h1>
</div>
<%= render "form.html", Map.put(assigns, :action, Routes.produto_path(@conn, :update, @produto)) %>

<span><%= link "Voltar", to: Routes.produto_path(@conn, :index) %></span>
