<h1>Novo Item de Venda</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.item_venda_path(@conn, :create)) %>

<span><%= link "Voltar", to: Routes.item_venda_path(@conn, :index) %></span>
