<div class="default-form"> 
    <h1>Alterar Usuario</h1>
</div>
<%= render "form.html", Map.put(assigns, :action, Routes.usuario_path(@conn, :update, @usuario)) %>

<span><%= link "Voltar", to: Routes.usuario_path(@conn, :index) %></span>
