<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, algo deu errado! Por favor veja os erros abaixo.</p>      
    </div>
  <% end %>

  <%= label f, :quantidade %>
  <%= number_input f, :quantidade %>
  <%= error_tag f, :quantidade %>

  <%= label f, :valor_unitario %>
  <%= number_input f, :valor_unitario, step: "any" %>
  <%= error_tag f, :valor_unitario %>

  <div>
    <%= submit "Salvar" %>
  </div>
<% end %>
