<h1>Novo Item compra</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.item_compra_path(@conn, :create)) %>

<span><%= link "Voltar", to: Routes.item_compra_path(@conn, :index) %></span>
