<h1>Item de compra</h1>

<ul>

  <li>
    <strong>Quantidade:</strong>
    <%= @item_compra.quantidade %>
  </li>

  <li>
    <strong>Valor unitario:</strong>
    <%= @item_compra.valor_unitario %>
  </li>

</ul>

<span><%= link "Alterar", to: Routes.item_compra_path(@conn, :edit, @item_compra) %></span>
<span><%= link "Voltar", to: Routes.compra_path(@conn, :index) %></span>
