<div class="default-form"> 

  <h1 class="h1">Pais</h1>

  <ul>
    <li>
      <strong>Nome:</strong>
      <%= @pais.nome %>
    </li>
    <li>
      <span><%= link "Editar", to: Routes.pais_path(@conn, :edit, @pais), class: "btn" %></span>
    </li>
    <li>
      <span><%= link "Voltar", to: Routes.pais_path(@conn, :index), class: "btn" %></span>
    </li>
  </ul>
</div>