<div class="default-form">   
  <h1>Visualizar Pais</h1>
</div>
  <div class="default-form"> 
  <ul>

    <li>
      <strong>Nome:</strong>
      <%= @pais.nome %>
    </li>

  </ul>

  <span><%= link "Editar", to: Routes.pais_path(@conn, :edit, @pais) %></span>
  <span><%= link "Voltar", to: Routes.pais_path(@conn, :index) %></span>
</div>