<div class="default-form"> 
  <h1 class="h1">Estado</h1>

  <ul>

    <li>
      <strong>Nome:</strong>
      <%= @estado.nome %>
    </li>

    <li>
      <strong>Uf:</strong>
      <%= @estado.uf %>
    </li>
    <li>
      <span><%= link "Editar", to: Routes.estado_path(@conn, :edit, @estado), class: "btn" %></span>
    </li>
    <li>
      <span><%= link "Voltar", to: Routes.estado_path(@conn, :index), class: "btn" %></span>
    </li>
  </ul>
    
    
</div>
