<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, algo deu errado! Por favor veja os erros abaixo.</p>
    </div>
  <% end %>

  <%= label f, :estado_id %>
  <%= select f, :estado_id, @estados, class: "form-control" %>
  <%= error_tag f, :estado_id %>

  <%= label f, :nome %>
  <%= text_input f, :nome %>
  <%= error_tag f, :nome %>

  <div>
    <%= submit "Salvar" %>
  </div>
<% end %>
