<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Self Stock WEB</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="col-10">
            <section class="menu menu--circle ">
          <input type="checkbox" id="menu__active"/>
          <label for="menu__active" class="menu__active">
            <div class="menu__toggle">
              <div class="icon">
                <div class="hamburger"></div>
              </div>
            </div>
            <input type="radio" name="arrow--up" id="degree--up-0"/>
            <input type="radio" name="arrow--up" id="degree--up-1" />
            <input type="radio" name="arrow--up" id="degree--up-2" />
            <div class="menu__listings">
              <ul class="circle">
              <li>
                  <div class="placeholder">
                    <div class="upside">
                      <a href="/" class="button"><i class="fas fa-home"></i></i></a>
                    </div>
                  </div>
                </li>      
                <li>
                  <div class="placeholder">
                    <div class="upside">
                      <%= link  to: Routes.usuario_path(@conn, :index) , class: "button" do  %>
                        <i class="fa fa-user"></i>
                      <%= end %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="placeholder">
                    <div class="upside">
                      <a href="/produtos" class="button"><i class="fas fa-box"></i></a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="placeholder">
                    <div class="upside">
                      <a href="/produtos" class="button"><i class="fas fa-box"></i></a>
                    </div>
                  </div>
                </li>     
                 <li>
                  <div class="placeholder">
                    <div class="upside">
                      <a href="/paises" class="button"><i class="fas fa-globe-americas"></i></a>
                    </div>
                  </div>
                </li>   
                 <li>
                  <div class="placeholder">
                    <div class="upside">
                       <a href="/fornecedores" class="button"><i class="fas fa-hands-helping"></i></a>
                    </div>
                  </div>
                </li>      
                <li>
                  <div class="placeholder">
                    <div class="upside">
                       <a href="/enderecos" class="button"><i class="fas fa-map-marked-alt"></i></a>
                    </div>
                  </div>
                </li> 
                <li>
                  <div class="placeholder">
                    <div class="upside">
                       <a href="/cidades" class="button"><i class="fas fa-city"></i></a>
                    </div>
                  </div>
                </li>  
              </ul>
            </div>
            <div class="menu__arrow menu__arrow--top">
              <ul>
                <li>
                  <label for="degree--up-0"><div class="arrow"></div></label>
                  <label for="degree--up-1"><div class="arrow"></div></label>
                  <label for="degree--up-2"><div class="arrow"></div></label>
                </li>
              </ul>
            </div>
          </label>
        </section>
      </div>
      <div class="col-2">
        <section class="login-main row">
          <ul>
              <%= if @conn.assigns[:user] do %>
                <li  class="col-12 ">  
                  <a href="<%= Routes.auth_path(@conn, :logout, "facebook") %>">
                    <i class="fas fa-sign-out-alt"></i> 
                  </a> 
                </li>
              <%= else %>
                <li class="col-6">
                      <a  href="<%= Routes.auth_path(@conn, :request, "facebook") %>">
                          <i class="fab fa-facebook">
                          </i>
                      </a>
                </li  >  
                <li class="col-6" >  
                  <a  href="<%= Routes.auth_path(@conn, :request, "github") %>" >
                    <i class="fab fa-github-alt">
                    </i>
                  </a>     
                </li  >  
              <%= end %>
          </ul>
        </section>  
      </div>
      </div>
    </header>
     <main role="main" class="container">
        <div class="row">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= render @view_module, @view_template, assigns %>
        </div>
    </main>
    <footer id="contact" class="footer">             
                                    <div class="widget_brand m-top-40 col-md-12"  style='text-align: center'>
                                        <a href="" class="text-uppercase"><img class="img-thumbnail" src="https://raw.githubusercontent.com/ebasantos/estoque-web-app-front-end/master/src/img/self%20stock.png" class="img-thumbnail"  style='background-color: transparent; width: 100px;' alt="Self-Stock-WEB" />
                                        </a>
                                        <p class="text-white">A melhor solução em controle de estoque!</p>
                                    </div>
                                </div>                          
                <div class="main_footer fix bg-mega text-center">
                    <div class="col-md-12">
                        <p class="wow fadeInRight text-white" data-wow-duration="1s">
                            <i class="fa fa-phone"></i> 
                            2016. All Rights Reserved
                        </p>
                    </div>
                </div>
      </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
