<div class="default-form"> 
    <h1 class="h1">Alterar Endereco</h1>
    <%= render "form.html", Map.put(assigns, :action, Routes.endereco_path(@conn, :update, @endereco)) %>

    <span><%= link "Voltar", to: Routes.endereco_path(@conn, :index), class: "btn" %></span>
</div>