<div class="default-form"> 
    <h1>Novo Endereço</h1>
</div>
<div class="default-form"> 
    <%= render "form.html", Map.put(assigns, :action, Routes.endereco_path(@conn, :create)) %>

    <span><%= link "Voltar", to: Routes.endereco_path(@conn, :index) %></span>
</div>
