<h1>Alterar Cliente</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.cliente_path(@conn, :update, @cliente)) %>

<span><%= link "Voltar", to: Routes.cliente_path(@conn, :index) %></span>
