<h1>Visualizar Venda</h1>

<ul>

  <li>
    <strong>Valor:</strong>
    <%= @venda.valor %>
  </li>

  <li>
    <strong>Data:</strong>
    <%= @venda.data %>
  </li>

  <li>
    <strong>Desconto:</strong>
    <%= @venda.desconto %>
  </li>

</ul>

<span><%= link "Alterar", to: Routes.venda_path(@conn, :edit, @venda) %></span>
<span><%= link "Voltar", to: Routes.venda_path(@conn, :index) %></span>
